<!-- <div class="m-4">
    <div class="font-bold" style="color: #92278F; font-size: 20px;">RTGS Report Overview (2024)</div>
</div> -->

<div class="w-full p-4">
    <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">Overview</div>

    <div class="flex">
        <div class="col-8 ">

            <div class="w-full bg-white flex align-items-center justify-content-between border-round-lg p-3"
                style="height: 80px;">
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">12</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Active Cases</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">433</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Pending Tasks</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">25</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Upcoming Events</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">40</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">New Messages </div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">15</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Open Requests</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">136</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Hours Spent</div>
                </div>
            </div>

            <div class="w-full flex align-items-center justify-content-between gap-3 mt-3">
                <div class="w-full bg-white border-round-lg p-3" style="height: 188px;">
                    <div class="flex align-items-start justify-content-between">
                        <div class="font-semibold" style="font-size: 16px; color: #92278F;">To do Task</div>
                        <div>
                            <img class="w-full" src="/assets/to do task right.png" alt="Image" style=" height: 24px;">
                        </div>
                    </div>

                    <div class="font-semibold" style="font-size: 16px; color: #92278F;">To do Task</div>

                    <div>
                        <img class="w-full" src="/assets/Frame 3465855.png" alt="Image" style=" margin-top: 12px;">
                    </div>

                    <div style=" margin-top: 12px; display: flex; justify-content:start; align-items: start;">
                        <div style="height: 20px; background: #F9D4FF; border-radius: 16px; padding-left: 8px; padding-right: 8px;
                        padding-top: 4px; padding-bottom: 4px;">
                            <div style="font-size: 10px; font-weight: 600; color: #92278F;">Development</div>
                        </div>

                        <div style="height: 20px; background: #92278F; border-radius: 16px; padding-left: 8px; padding-right: 8px;
                        padding-top: 4px; padding-bottom: 4px; margin-left: 8px;">
                            <div style="font-size: 10px; font-weight: 600; color: #F9F785;">Backlog</div>
                        </div>
                    </div>

                    <div>
                        <img src="/assets/Footer.png" alt="Image" style="width: 216px; margin-top: 12px;">
                    </div>
                </div>
                <div class="w-full bg-white border-round-lg" style="height: 188px;"></div>
            </div>
        </div>

        <div class="col-4">
            <div class="w-full h-full bg-white border-round-lg mx-2">
                lskjfd
            </div>
        </div>
    </div>
</div>