<!-- <div class="m-4">
    <div class="font-bold" style="color: #92278F; font-size: 20px;">RTGS Report Overview (2024)</div>
</div> -->

<div class="w-full p-4">
    <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">Overview</div>

    <div class="flex">
        <div class="col-8 ">

            <div class="w-full bg-white flex align-items-center justify-content-between border-round-lg p-3"
                style="height: 80px;">
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">12</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Active Cases</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">433</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Pending Tasks</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">25</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Upcoming Events</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">40</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">New Messages </div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">15</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Open Requests</div>
                </div>
                <div class="" style="width: 2px; height: 30px; background-color: #BCBCBC;"></div>
                <div class="flex flex-column justify-content-start">
                    <div class="font-bold" style="font-size: 20px; color: #92278F;">136</div>
                    <div class="font-normal mt-2" style="font-size: 12px;">Hours Spent</div>
                </div>
            </div>

            <div class="w-full flex align-items-center justify-content-between gap-3 mt-3">
                <div class="w-full bg-white border-round-lg p-3" style="height: 188px;">
                    <div class="flex align-items-start justify-content-between">
                        <div class="font-semibold" style="font-size: 16px; color: #92278F;">To do Task</div>
                        <div>
                            <img class="w-full" src="/assets/to do task right.png" alt="Image" style=" height: 24px;">
                        </div>
                    </div>

                    <div class="font-semibold" style="font-size: 13px;">Loan Application Verification</div>

                    <div>
                        <img class="mt-1" src="/assets/Frame 3465855.png" alt="Image" width="246px">
                    </div>

                    <div class="flex align-items-start justify-content-start gap-2 mt-2">
                        <div class="flex align-items-center justify-content-center border-round-xl px-2"
                            style="height: 20px; background-color: #F9D4FF;">
                            <div class="font-semibold" style="font-size: 10px; color: #92278F;">Progress</div>
                        </div>

                        <div class="flex align-items-center justify-content-center border-round-xl px-2"
                            style="height: 20px; background-color: #F9D4FF;">
                            <div class="font-semibold" style="font-size: 10px; color: #F59E0B;">Pending</div>
                        </div>
                    </div>

                    <div>
                        <img src="/assets/Footer.png" alt="Image" style="width: 216px; margin-top: 12px;">
                    </div>
                </div>

                <div class="w-full bg-white border-round-lg p-3" style="height: 188px;">
                    <div class="flex align-items-start justify-content-between">
                        <div class="font-semibold" style="font-size: 16px; color: #92278F;">Completed Task
                        </div>
                        <div>
                            <img class="w-full" src="/assets/completed task right.png" alt="Image"
                                style=" height: 24px;">
                        </div>
                    </div>

                    <div class="font-semibold" style="font-size: 13px;">Client Documents Verification
                    </div>

                    <div>
                        <img class="mt-1" src="/assets/Frame 3465855.png" alt="Image" width="246px">
                    </div>

                    <div class="flex align-items-start justify-content-start gap-2 mt-2">
                        <div class="flex align-items-center justify-content-center border-round-xl px-2"
                            style="height: 20px; background-color: #F9D4FF;">
                            <div class="font-semibold" style="font-size: 10px; color: #92278F;">Development</div>
                        </div>

                        <div class="flex align-items-center justify-content-center border-round-xl px-2"
                            style="height: 20px; background: #F9D4FF;">
                            <div class="font-semibold" style="font-size: 10px; color: #FAA026;">Backlog</div>
                        </div>
                    </div>

                    <div>
                        <img src="/assets/Footer.png" alt="Image" style="width: 216px; margin-top: 12px;">
                    </div>
                </div>
            </div>

            <div class="w-full flex align-items-center justify-content-between gap-3 mt-3">
                <div class="w-full bg-white border-round-xl p-3" style="height: 181px;">
                    <div class="font-semibold" style="font-size: 16px; color: #92278F;">Task Progress</div>

                    <div class="w-full flex align-items-center justify-content-between">
                        <div class="w-full flex flex-column align-items-start justify-content-between mt-3">
                            <div class="flex align-items-center">
                                <img src="/assets/young girl.png" width="40px" height="40px" alt="">

                                <div class="ml-2">
                                    <div class="font-bold" style="font-size: 12px; color: #92278F;">Ananya Shetty</div>
                                    <div class="font-semibold mt-1" style="font-size: 7px; color: #9DA1A3;">Cashier
                                    </div>

                                </div>
                            </div>

                            <div class="font-bold mt-4" style="font-size: 7px; color: #BA68C8;">Asssigned Task : 12
                            </div>
                        </div>

                        <img src="/assets/task progress pie chart 2.png" width="109px" height="109px" alt="">
                    </div>

                    <div class="flex align-items-center justify-content-between mt-2">
                        <div class="font-bold" style="font-size: 7px; color: #BA68C8;">Completed : 8
                        </div>

                        <div class="flex align-items-center justify-content-center">
                            <div class="border-circle" style="width: 6px; height: 6px; background-color: #92278F;">
                            </div>
                            <div class="font-normal ml-1" style="font-size: 7px;">Productive
                            </div>
                            <div class="border-circle ml-3" style="width: 6px; height: 6px; background-color: #F9F785;">
                            </div>
                            <div class="font-normal ml-1" style="font-size: 7px;">Unproductive
                            </div>
                            <div class="border-circle ml-3" style="width: 6px; height: 6px; background-color: #F9D4FF;">
                            </div>
                            <div class="font-normal ml-1" style="font-size: 7px;">Neutral
                            </div>
                        </div>
                    </div>
                </div>

                <div class="w-full bg-white border-round-xl p-3" style="height: 181px;">
                    <div class="font-semibold" style="font-size: 16px; color: #92278F;">Task completion Level</div>
                    <img class="w-full mt-3" src="/assets/task completion graph 2.png" height="120px" alt="">
                </div>
            </div>

            <div class="w-full flex align-items-center justify-content-between gap-3 mt-3">
                <div class="w-full bg-white border-round-lg p-3" style="height: 269px;">
                    <div class="font-semibold" style="font-size: 12px;">Upcoming Events</div>

                    <div class="flex align-items-center justify-content-between mt-3">
                        <div class="">
                            <div class="font-semibold" style="font-size: 16px; color: #92278F;">19</div>
                            <div class="font-semibold" style="font-size: 12px; ">Jan</div>
                        </div>

                        <img src="/assets/multiple profile icons.png" width="115px" height="40px" alt="">

                    </div>

                    <div class="font-semibold mt-4" style="font-size: 16px; color: #92278F;">Client Meeting with RBL
                    </div>

                    <div class="font-normal mt-2" style="font-size: 12px; color: #92278F;">Guys, let’s prepare for our
                        discussion with
                        RBL next week</div>

                    <div class="flex align-items-center justify-content-between mt-5">
                        <div class="font-semibold" style="font-size: 12px;">Meeting link</div>
                        <i class="pi pi-arrow-right" style="font-size: 12px;"></i>
                    </div>
                </div>

                <div class="w-full bg-white border-round-lg p-3" style="height: 269px;">
                    <div class="font-semibold" style="font-size: 16px;">Upcoming Tasks</div>

                    <div class="flex align-items-start mt-4">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <div class="font-semibold ml-2" style="font-size: 12px; color: #92278F;">Gather documentation
                            and Evidence</div>
                    </div>

                    <div class="flex align-items-center mt-2">
                        <div class="font-normal" style="font-size: 10px;">Due on 4:30 PM, 4 Jan,2024</div>

                        <div class="flex align-items-center justify-content-center border-round-lg px-2 ml-3"
                            style=" background-color: #188F5D;">
                            <div class="font-normal text-white" style="font-size: 8px;">High</div>
                        </div>
                    </div>

                    <div class="flex align-items-start mt-4">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <div class="font-semibold ml-2" style="font-size: 12px; color: #92278F;">All the previous loan
                            document collection</div>
                    </div>

                    <div class="flex align-items-center mt-2">
                        <div class="font-normal" style="font-size: 10px;">Due on 4:30 PM, 4 Jan,2024</div>

                        <div class="flex align-items-center justify-content-center border-round-lg px-2 ml-3"
                            style=" background-color: #FFB680;">
                            <div class="font-normal text-white" style="font-size: 8px;">Medium</div>
                        </div>
                    </div>

                    <div class="flex align-items-start mt-4">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <div class="font-semibold ml-2" style="font-size: 12px; color: #92278F;">All Loan Sanction
                            report submission </div>
                    </div>

                    <div class="flex align-items-center mt-2">
                        <div class="font-normal" style="font-size: 10px;">Due on 4:30 PM, 4 Jan,2024</div>

                        <div class="flex align-items-center justify-content-center border-round-lg px-2 ml-3"
                            style=" background-color: #DA2115;">
                            <div class="font-normal text-white" style="font-size: 8px;">Low</div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div class="col-4">
            <div class="w-full h-full bg-white border-round-lg mx-2 p-4">
                <div class="font-semibold" style="font-size: 16px; color: #92278F;">Firm Activity</div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/ankita shetty.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Ankita Shetty</span>
                            Uploaded this file
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">Just now</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/krithik jay.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Krithik Jay </span>
                            Created this event
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">6:00 PM, Yesterday</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/ananya.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Ananya </span>
                            Completed this task
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">5:00 PM , Yesterday</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/young girl.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Rupali </span>
                            Uploaded this file
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">3:45PM, Friday</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/karan.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Karan </span>
                            Completed this file
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">2:30 PM, Thursday</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/aarush.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Aarush </span>
                            Assigned this task to Karan
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">5:00PM ,Wednesday </div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/ananya.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Ananya </span>
                            Created this Event
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">Just now</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/krithik jay.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Madhav </span>
                            Uploaded this file
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">12:30 PM, Friday</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-start mt-5">
                    <img src="/assets/ankita shetty.png" alt="" width="40px" height="40px">

                    <div class="flex flex-column align-items-start ml-3">
                        <div class="font-medium" style="font-size: 12px;">
                            <span class="font-semibold" style="font-size: 12px; color: #92278F;">Ankita Shetty </span>
                            Uploaded this file
                        </div>
                        <div class="font-normal mt-1" style="font-size: 12px; color: #929292;">10:00 AM, Friday</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>