<p-toast></p-toast>

<div class="w-full h-screen"
    style="background: url('/assets/login\ background.png'); background-size: cover; background-position: center;">
    <div class=" flex align-items-center justify-content-between px-5" style="height: 70px;">
        <div>
            <!-- <img src="/assets/kbdcl logo.png" width="300px" height="55px" alt=""> -->
            <img src="https://karnatakabank.com/sites/default/files/logo.gif" width="300px" height="55px" alt="">
        </div>
        <!-- <div class="w-full flex align-items-center justify-content-end gap-8 mr-8"
            *ngIf="isLessThan800px() ? false : true ">
           <div class="flex align-items-center justify-content-center gap-2"
                        style="border-radius: 40px;background-color: #92278F;padding: 6px 19px">
                        <div class=""
                            style="width: 63px;height: 19px;color: #FFFFFF;font-weight: 400;font-size: 14px;text-align: center;font-family: Manrope;">
                            SUPPORT</div>
                        <div class="">
                            <img src="assets/support_icon_i.png" style="margin-top: 4px;" width="28" height="28">

                        </div>

                    </div>
        </div> -->
        <!-- <button *ngIf="isLessThan800px() ? false : true " pButton pRipple label="Login"
            class="p-button-help border-round-sm" style="background-color: #92278F; width: 125px;">
        </button> -->
    </div>

    <!-- Celebrating 100 Years Animation -->
    <div class="flex align-items-center justify-content-between p-2 banner"
        style="background-color: #F9F785; height: 40px;">
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
    </div>


    <div class="flex" style="flex-wrap: wrap-reverse; ">
        <!-- login form -->
        <div class="col-3 px-3">
            <div class="flex align-items-center justify-content-center mt-3">
                <img src="/assets/login top.png" alt="" width="150px">
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
                <div class="text-center text-3xl font-semibold">Login</div>

                <div class="flex flex-column gap-2" class="mb-5 mt-5">
                    <label for="username">Username</label>
                    <div class="bg-white p-1 border-round-lg shadow-2" style="margin-top: 12px;">
                        <input pInputText type="text" formControlName="username" class=" form-control inputfield w-full"
                            name="login" style="border: none; height: 40px; font-size: 18px; color: black;"
                            placeholder="Enter your username" />
                    </div>
                </div>

                <div class="flex flex-column gap-2" class="mb-2">
                    <label for="password">Password</label>
                    <div class="flex align-items-center bg-white p-1 border-round-lg shadow-2"
                        style="margin-top: 12px;">
                        <input pInputText type="text" class="form-control inputfield w-full" name="login"
                            formControlName="password" style="border: none; height: 40px;"
                            placeholder="Enter your password"
                            style="border: none; height: 40px; font-size: 18px; color: black;"
                            [type]="passwordVisible ? 'text' : 'password'" />

                        <i class="pi pi-eye cursor-pointer mx-2" (click)="toggleFieldTextType()"></i>
                    </div>

                </div>

                <div class="flex align-items-center justify-content-between mb-6" style="margin-top: 32px;">
                    <div class="flex align-items-center">
                        <!-- <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme1" class="text-sm">Remember me</label> -->
                    </div>
                    <a class="font-medium no-underline ml-2 text-right cursor-pointer text-sm" style="color: #92278F;"
                        (click)="forgetPassword()">Forgot
                        password?</a>
                </div>

                <button pButton pRipple type="submit" [disabled]="!loginForm.valid || loading" label="Login"
                    class="p-button-help w-full border-round-sm" style="background-color: #92278F; height: 48px;">
                    <i *ngIf="loading" class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>
                </button>
            </form>
        </div>
        <!-- Left side panel -->
        <div class="col-9 flex">
            <div class="flex" style="flex-wrap: wrap; flex-direction: column;">
                <div class="w-full p-2">
                    <div class="border-round-lg " style="background-color: #F4EFEE; height: 240px;">
                        <div class="flex align-items-center justify-content-center mx-2" style="flex-wrap: wrap;">
                            <div class="col-8">
                                <div class="text-xl mt-2" style="color: #92278F; font-weight: 500; font-size: 18px;">
                                    Gold Rate</div>

                                <div class="mt-1 pt-1 text-md" style="height: 85px;text-align: left;">
                                    <span>Latest IBJA <span style="text-decoration: underline;font-weight: 900;">Market
                                            Rate</span> for 22K Gold as on Today :<br />Rs.<span class="text-xl"
                                            style="text-decoration: underline;font-weight: 900;color: #92278F">{{(goldRate==undefined
                                            ||
                                            goldRate.marketGoldRate==undefined)?'0.00':goldRate.marketGoldRate}}</span></span>
                                </div>
                                <div class="mt-2 pt-1 text-md" style="height: 85px;text-align: left;">
                                    <span><span style="text-decoration: underline;font-weight: 900;">Average</span> IBJA
                                        Gold Price for 22K Gold last 30 Days : <br />Rs.<span class="text-xl"
                                            style="text-decoration: underline;font-weight: 900;color: #92278F;">{{(goldRate==undefined
                                            || goldRate.averageGoldRate
                                            ==undefined)?'0.00':goldRate.averageGoldRate}}</span></span>
                                </div>


                            </div>
                            <div class="col-4"
                                style="height: 100px; background-image: url('/assets/gold animation.gif'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <!-- <img src="/assets/gold animation.gif" width="64px" height="77px" alt=""> -->
                            </div>
                        </div>
                        <!-- <img class=" mx-3" src="/assets/graph image.png" style="width: full;" height="120px" alt=""> -->
                    </div>
                </div>
                <div class="w-full p-2">
                    <div class="flex flex-row gap-3 border-round-2xl" style="background-color: #F4EFEE; height: 200px;">

                        <div class="w-6 px-3 py-5" style="">
                            <div class="text-xl" style="color: #92278F; font-weight: 500; font-size: 18px;">
                                iCircular New!
                            </div>
                            <div>
                                <img class="w-full rotate-image" src="/assets/logo Image.png" alt="">
                            </div>
                        </div>
                        <div class="flex flex-column w-6 px-3 py-4">
                            <div class="text-xl " (click)="openLink('5 since')"
                                style="color: #92278F;text-decoration: underline;"><span class="cursor-pointer">since
                                    yesterday</span>
                            </div>
                            <div class="text-xl mt-3 " (click)="openLink('7 since')"
                                style="color: #92278F;text-decoration: underline;"><span class="cursor-pointer">last 7
                                    days</span>
                            </div>
                            <div class="text-xl mt-3" (click)="openLink('30 since')"
                                style="color: #92278F;text-decoration: underline;"><span class="cursor-pointer">last 30
                                    days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full">
                    <div (click)="openLink('kbl-uday')" class="flex border-round-2xl mt-2 px-8 py-8 text-lg cursor-pointer"
                        style="background-color: #F4EFEE; height: 70px; color: #92278F; font-weight: 500;text-align: center;">
                        KBL Uday
                    </div>
                </div>
                <div class="w-full">
                    <div (click)="openLink('branch-directory')" class="flex border-round-2xl mt-2 px-8 py-8 text-lg cursor-pointer"
                        style="background-color: #F4EFEE; height: 70px; color: #92278F; font-weight: 500;text-align: center;">
                        Branch Directory
                    </div>
                </div>
                <div class="w-full">
                    <div (click)="openLink('itsec')" class="flex border-round-2xl mt-2  px-8 py-8 text-lg cursor-pointer"
                        style="background-color: #F4EFEE; height: 70px; color: #92278F; font-weight: 500;text-align: center;">
                        ITSEC Portal
                    </div>
                </div>
            </div>

            <div class=" flex flex-column p-4 m-2 border-round-2xl w-full h-full"
                style="height: 270px; background-color: #FCFBC8;">
                <div class="text-lg" style="color: #92278F;">KBL Campaign Program</div>
                <div style="width: 100%;height: 690px; overflow: hidden; position: relative;">
                    <div style="display: flex;flex-direction: column;gap: 20px;animation: scroll 12s linear infinite;">
                        <a href="/assets/ads image 1.png" target="_blank" style="display: block;">
                            <img src="/assets/ads image 1.png" style="width: 100%;height: 100%; object-fit: cover;">
                        </a>
                        <a href="/assets/ads image 1.png" target="_blank" style="display: block;">
                            <img src="/assets/ads image 1.png" style="width: 100%;height: 100%; object-fit: cover;">
                        </a>
                        <a href="/assets/ads image 1.png" target="_blank" style="display: block;">
                            <img src="/assets/ads image 1.png" style="width: 100%;height: 100%; object-fit: cover;">
                        </a>
                        <a href="/assets/ads image 4.png" target="_blank" style="display: block;">
                            <img src="/assets/ads image 4.png" style="width: 100%;height: 100%; object-fit: cover;">
                        </a>
                    </div>
                </div>



                <!-- <div class="flex mt-3 scroll-containerH" style="justify-content: start;height: 500px;">
                    <img class="w-full m-1" src="/assets/ads image 1.png" alt="">
                    <img *ngIf="this.secondVisible" class="w-auto m-1" src="/assets/ads image 2.png" alt="">
                    <img *ngIf="this.thirdVisible" class="w-auto m-1" src="/assets/ads image 3.png" alt="">
                    <img *ngIf="this.fourthVisible" class="w-auto m-1" src="/assets/ads image 4.png" alt="">
                </div> -->
            </div>

            <!-- <div class="flex mt-3 mx-2 border-round-2xl align-items-center justify-content-center py-3"
                style="background-color: #F4EFEE;">
                <div class=" text-sm lg:text-lg xl:text-xl font-semibold mx-3" style="color: #92278F;">How was your
                    day?</div>
                <img class="w-6 sm:w-6 md:w-6 lg:w-6 xl:w-8 " src="/assets/set of emojies.png" alt="">
            </div> -->
        </div>


    </div>
</div>