<p-toast></p-toast>
<div class="w-full h-screen"
    style="background: url('/assets/login\ background.png'); background-size: cover; background-position: center;">
    <div class=" flex align-items-center justify-content-between px-5" style="height: 100px;">
        <div>
            <!-- <img src="/assets/kbdcl logo.png" width="300px" height="55px" alt=""> -->
            <img src="https://karnatakabank.com/sites/default/files/logo.gif" width="300px" height="55px" alt="">
        </div>
        <div class="w-full flex align-items-center justify-content-end gap-8 mr-8"
            *ngIf="isLessThan800px() ? false : true ">
            <!-- <div class="text-xl cursor-pointer" style="color: #92278F;">Home</div> -->
            <!-- <div class="text-xl cursor-pointer" style="color: #92278F;">Support</div> -->
            <div class="flex align-items-center justify-content-center gap-2"
                        style="border-radius: 40px;background-color: #92278F;padding: 6px 19px">
                        <div class=""
                            style="width: 63px;height: 19px;color: #FFFFFF;font-weight: 400;font-size: 14px;text-align: center;font-family: Manrope;">
                            SUPPORT</div>
                        <div class="">
                            <img src="assets/support_icon_i.png" style="margin-top: 4px;" width="28" height="28">

                        </div>

                    </div>
        </div>
        <!-- <button *ngIf="isLessThan800px() ? false : true " pButton pRipple label="Login"
            class="p-button-help border-round-sm" style="background-color: #92278F; width: 125px;">
        </button> -->
    </div>

    <!-- Celebrating 100 Years Animation -->
    <div class="flex align-items-center justify-content-between p-2 banner"
        style="background-color: #F9F785; height: 40px;">
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>
    </div>

    <div class="flex" style="flex-wrap: wrap-reverse; ">

        <!-- Left side panel -->
        <div class="col-7">
            <div class="flex mt-5" style="flex-wrap: wrap;">
                <div class="col-7 p-2" (click)="rbiGuildelinesUpdate()">
                    <div class="border-round-2xl" style="background-color: #F4EFEE; height: 270px;">
                        <div class="flex" style="justify-content: space-between; align-items: start;">
                            <div class="col-8">
                                <div class="text-xl mt-2" style="color: #92278F; font-weight: 500; font-size: 18px;">RBI
                                    Guidelines & Notification</div>
                                <!-- <div class="text-sm mt-3" style="color: #92278F;">Mar 01, 2024</div> -->
                            </div>
                            <div class="col-4">
                                <img src="/assets/news.png" width="85px" alt="">
                            </div>
                        </div>
                        <div class="scroll-container">
                            <div *ngFor="let rbiNoti of rbiGuildelines" class="pb-1">
                                <div class="text-sm  mx-3" style="color: #92278F;">{{rbiNoti.date}}</div>
                                <div class="flex justify-content-between mx-2">
                                    <div class="text-xs col-9" style="color: #382A29;">{{rbiNoti.info}}
                                    </div>
                                    <div class="col-3">
                                        <div class="flex">
                                            <div class="text-xs mr-1" style="color: #382A29;">{{rbiNoti.size}}</div>
                                            <img src="/assets/downloan image.png" width="12px" height="12px" alt=""
                                                (click)="openWebsite(rbiNoti.pdfLink)" class="cursor-pointer">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-5 p-2" (click)="rbiGuildelinesUpdate()">
                    <div class="border-round-2xl " style="background-color: #F4EFEE; height: 270px;">
                        <div class="flex align-items-center justify-content-center mx-2" style="flex-wrap: wrap;">
                            <div class="col-8">
                                <div class="text-xl mt-2" style="color: #92278F; font-weight: 500; font-size: 18px;">
                                    Gold Rate</div>
                                <div class="mt-1" style="color: #263238"><span
                                        style="font-weight: 700; font-size: 12px;">₹
                                        {{this.goldRate}}
                                    </span>
                                    <!-- Indian Rupee -->
                                </div>
                                <div class="flex justify-content-between mt-1">
                                    <div style="color: #606060; font-size: 7px;">Feb 29, 8:34:24 PM UTC+5:30</div>
                                    <div style="color: #606060; font-size: 7px;">INR . NSE . Disclaimer</div>
                                </div>
                                <div class="mt-2">
                                    <!-- <p-dropdown [options]="goldLoans" optionLabel="name" optionValue="name"
                                        placeholder="Chennai" (onChange)="findGoldRate( $event.value)"></p-dropdown> -->
                                </div>


                            </div>
                            <div class="col-4"
                                style="height: 100px; background-image: url('/assets/gold animation.gif'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                                <!-- <img src="/assets/gold animation.gif" width="64px" height="77px" alt=""> -->
                            </div>
                        </div>
                        <img class=" mx-3" src="/assets/graph image.png" style="width: full;" height="120px" alt="">
                    </div>
                </div>
            </div>

            <div class=" flex flex-column justify-content-center p-4 m-2 border-round-2xl"
                style="height: 270px; background-color: #FCFBC8;">
                <div class="text-lg" style="color: #92278F;">KBL Campaign Program</div>

                <div class="flex mt-3 scroll-containerH" style="justify-content: start;">
                    <img class="w-auto m-1" src="/assets/ads image 1.png" alt="">
                    <img *ngIf="this.secondVisible" class="w-auto m-1" src="/assets/ads image 2.png" alt="">
                    <img *ngIf="this.thirdVisible" class="w-auto m-1" src="/assets/ads image 3.png" alt="">
                    <img *ngIf="this.fourthVisible" class="w-auto m-1" src="/assets/ads image 4.png" alt="">
                </div>
            </div>

            <div class="flex mt-3 mx-2 border-round-2xl align-items-center justify-content-center py-3"
                style="background-color: #F4EFEE;">
                <div class=" text-sm lg:text-lg xl:text-xl font-semibold mx-3" style="color: #92278F;">How was your
                    day?</div>
                <img class="w-6 sm:w-6 md:w-6 lg:w-6 xl:w-8 " src="/assets/set of emojies.png" alt="">
            </div>
        </div>

        <!-- login form -->
        <div class="col-5 px-3">
            <div class="flex align-items-center justify-content-center mt-3">
                <img src="/assets/login top.png" alt="" width="150px">
            </div>


            <form [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
                <div class="text-center text-3xl font-semibold">Login</div>

                <div class="flex flex-column gap-2" class="mb-5 mt-5">
                    <label for="username">Username</label>
                    <div class="bg-white p-1 border-round-lg shadow-2" style="margin-top: 12px;">
                        <input pInputText type="text" formControlName="username" class=" form-control inputfield w-full"
                            name="login" style="border: none; height: 40px; font-size: 18px; color: black;"
                            placeholder="Enter your username" />
                    </div>
                </div>

                <div class="flex flex-column gap-2" class="mb-2">
                    <label for="password">Password</label>
                    <div class="flex align-items-center bg-white p-1 border-round-lg shadow-2"
                        style="margin-top: 12px;">
                        <input pInputText type="text" class="form-control inputfield w-full" name="login"
                            formControlName="password" style="border: none; height: 40px;"
                            placeholder="Enter your password"
                            style="border: none; height: 40px; font-size: 18px; color: black;"
                            [type]="passwordVisible ? 'text' : 'password'" />

                        <i class="pi pi-eye cursor-pointer mx-2" (click)="toggleFieldTextType()"></i>
                    </div>

                </div>

                <div class="flex align-items-center justify-content-between mb-6" style="margin-top: 32px;">
                    <div class="flex align-items-center">
                        <!-- <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme1" class="text-sm">Remember me</label> -->
                    </div>
                    <a class="font-medium no-underline ml-2 text-right cursor-pointer text-sm"
                        style="color: #92278F;" (click)="forgetPassword()">Forgot
                        password?</a>
                </div>

                <button pButton pRipple type="submit" [disabled]="!loginForm.valid || loading" label="Login"
                    class="p-button-help w-full border-round-sm" style="background-color: #92278F; height: 48px;">
                    <i *ngIf="loading" class="pi pi-spin pi-spinner" style="margin-right: 5px;"></i>
                </button>
            </form>
        </div>
    </div>
</div>