.banner {
  overflow: hidden;
}

.animation-logo {
  display: inline-block;
  padding-right: 50px;
  padding-left: 0;
  animation: moveText 2s linear reverse infinite;
  white-space: nowrap;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-container {
  height: 150px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-containerH {
  height: 250px;
  overflow-x: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

:host::ng-deep {
  .p-dropdown {
    border-color: #92278F;
    border-radius: 10px;
    background: #F4EFEE;
  }
  .p-inputtext:enabled:focus {
    box-shadow: none !important;
  }
  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: #92278F;
  }

  .p-inputtext {
    font-size: 0.8rem;
    color: #92278F;
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    color: #92278F75;
  }

  .p-dropdown .p-dropdown-trigger {
    color: #92278F;
    width: 4.357rem;
  }

  .pi-chevron-down:before {
    content: "\e906";
  }
}

@media screen and (max-width: 1000px) {
  .col-7 {
    flex: 0 0 100%; /* Each column takes 100% width on smaller screens */
  }
  
  .col-5 {
    flex: 0 0 100%; /* Each column takes 100% width on smaller screens */
  }
}


.custom-toast-center {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.custom-toast-center-warning {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffbf00;
}


/* Ensure high specificity */
.swal2-popup .swal2-actions .custom-confirm-button {
  background-color: #92278F !important;
  color: white !important;
}

/* Add hover and focus states for better UX */
.swal2-popup .swal2-actions .custom-confirm-button:hover,
.swal2-popup .swal2-actions .custom-confirm-button:focus {
  background-color: #7a206c !important; /* Adjust to a suitable color for hover and focus states */
  color: white !important;
}

.rotate-image {
  width: 200px; /* Adjust the size as needed */
  animation: rotate 4s linear infinite; /* Adjust duration as needed */
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}