.banner {
  overflow: hidden;
  // white-space: nowrap;
}

.animation-logo {
  display: inline-block;
  padding-left: 0;
  animation: moveText 2s linear infinite;
  white-space: nowrap;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-container2 {
  height: 280px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-container3 {
  height: 270px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.animated-container {
  border-radius: 4px;
  background: #F9F78578;
  transition: all 0.3s ease;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
  }

  &:hover {
    transform: scale(1.08);
    background-color: #F9D4FF;

    .text-container {
      color: #92278F;
      font-size: 15px;
    }
  }

  .text-container {
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    transition: color 0.3s ease;
  }
}
@media screen and (max-width: 768px) {
  .flex-item {
    flex: 0 0 calc(100% - 10px);
  }

  .col-9,
  .col-3,
  .col-7,
  .col-5,
  .col-8,
  .col-4,
  .col-6 {
    flex: 1 0 calc(100% - 10px);
    margin-right: 0;
    margin-bottom: 10px;
  }

}