.banner {
    overflow: hidden;
    // white-space: nowrap;
}

.animation-logo {
    display: inline-block;
    padding-left: 0;
    animation: moveText 2s linear infinite;
    white-space: nowrap;
}

@keyframes moveText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}