<div class="w-full flex">
    <div class="col-8">

        <!-- Top boxes -->
        <div class="flex">
            <div class="col-7 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 189px;">
                <div class="font-bold" style="color: #92278F;">My Daily Tasks</div>

                <div class="flex align-items-center">
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm mr-5"
                        style="width: 80px; background-color: #92278F;">
                        <div class="font-semibold text-white my-2 mx-2" style="font-size: 8px;">Under review
                        </div>
                    </div>
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm mr-5"
                        style="width: 80px; border: 1px solid #92278F;">
                        <div class="font-semibold my-2 mx-2" style="font-size: 8px; color: #92278F;">Planned</div>
                    </div>
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm"
                        style="width: 80px; background-color: #F9F785;">
                        <div class="font-semibold my-2 mx-2" style="font-size: 8px; color: #92278F;">Under
                            review</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <div class="w-full flex align-items-center justify-content-center border-round-md mr-1"
                        style="height: 46px; border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">C</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Sign Customer</div>
                            <div style="font-size: 10px; color: #141515;">Onboarding</div>
                        </div>


                    </div>

                    <div class="w-full flex align-items-center justify-content-center border-round-md mx-1"
                        style="height: 46px; border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">M</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Investors</div>
                            <div style="font-size: 10px; color: #141515;">Meeting</div>
                        </div>

                    </div>
                    <div class="w-full flex align-items-center justify-content-center border-round-md ml-1"
                        style="height: 46px;border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">S</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Stakeholder </div>
                            <div style="font-size: 10px; color: #141515;">Conference</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-3 m-2"
                style="height: 189px;">

                <div class="flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Our Journey </div>
                    <div class="flex align-items-center justify-content-center border-round-xl h-auto py-1"
                        style="width: 48px; background-color: #92278F;">
                        <div class="text-white font-bold" style="font-size: 8px;">See all</div>
                    </div>
                </div>

                <img class="mt-2" src="/assets/our journey group.png" width="260px" height="137px" alt="">

            </div>
        </div>

        <div class="flex">
            <div class="col-7 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 322px;">
                <div class="flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Revenue Overview</div>
                    <div class="text-gray-500 font-bold" style="font-size: 12px;">Apr 30 - May 30</div>
                </div>

                <div>
                    <img class="ml-5" src="/assets/revenue overview graph.png" width="239px" height="109px" alt="">
                    <div class="flex align-items-center justify-content-between mx-5 mt-3">
                        <div class="flex align-items-center justify-content-center">
                            <div class="border-circle" style="width: 10px; height: 10px; background-color: #92278F;">
                            </div>
                            <div class="text-gray-500 ml-2" style="font-size: 12px;">Bangalore</div>
                        </div>
                        <div class="flex align-items-center justify-content-center">
                            <div class="border-circle" style="width: 10px; height: 10px; background-color: #FAA026;">
                            </div>
                            <div class="text-gray-500 ml-2" style="font-size: 12px;">Hyderabad</div>
                        </div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Details" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>
            </div>

            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 322px;">
                <div class="font-bold" style="color: #92278F;"> Assets and Liabilities</div>

                <div class="flex flex-column align-items-center justify-content-center">
                    <div class="text-gray-500 font-bold text-center mb-2" style="font-size: 12px;">Apr 30 - May 30</div>
                    <img src="/assets/assets and liabilities.png" width="196px" height="97px" alt="">
                    <div class="text-gray-500 font-bold text-center mt-2" style="font-size: 10px;">Liabilities</div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Details" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>
            </div>
        </div>

        <div class="flex">

            <div class="col-7 m-2 p-0">
                <div class="bg-white flex flex-column justify-content-between border-round-xl " style="height: 233px;">

                </div>

                <div class="bg-white flex flex-column justify-content-between border-round-xl mt-3"
                    style="height: 148px;">

                </div>
            </div>


            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 403px;">
            </div>
        </div>
    </div>

    <div class="col-4" style="padding: 10px 10px 20px 20px !important;">

        <div class="flex flex-column h-full bg-white border-round-xl m-2">
            <!-- <div class=" w-full "></div> -->
        </div>

    </div>
</div>