.col-12 {
  margin: 0px;
  padding: 0px;
}

.p {
  margin: 0px;
  padding: 0px;
}

:host::ng-deep {
  .inputField:focus {
    border-color: none !important;
    /* Set border color to transparent when focused */
  }

  .p-button {
    font-size: 10px;
    font-weight: 700;
    color: #92278F !important;
  }
}

.banner {
  overflow: hidden;
  // white-space: nowrap;
}

.animation-logo {
  display: inline-block;
  padding-left: 0;
  animation: moveText 2s linear infinite;
  white-space: nowrap;
}

@keyframes moveText {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.scroll-container {
  height: 190px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-container2 {
  height: 180px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-container3 {
  height: 130px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.scroll-container4 {
  height: 338px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #E9EBF0 transparent;
  /* For Firefox */

  &::-webkit-scrollbar {
    width: 8px;
    /* For Chrome, Safari, and Opera */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E9EBF0;
    /* For Chrome, Safari, and Opera */
  }
}

.animated-container {
  border-radius: 4px;
  background: #F9F78578;
  transition: all 0.3s ease;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
  }

  &:hover {
    transform: scale(1.08);
    background-color: #F9D4FF;

    .text-container {
      color: #92278F;
      font-size: 13px;
    }
  }

  .text-container {
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
    transition: color 0.3s ease;
  }
}

// @media screen and (max-width: 768px) {
//   .col-6 {
//     flex: 0 0 100%; /* Each column takes 100% width on smaller screens */
//   }
// }


.flex-item {
  flex: 0 0 calc(50% - 10px);
  /* Two columns with 10px spacing in between */
  margin: 5px;
  /* Adjust margin to set spacing */
}

.col-8 {
  flex: 1 0 calc(66.6667% - 10px);
  /* Two-thirds of the container width with spacing */
  margin-right: 10px;
  /* Adjust margin to set spacing */
}

.col-4 {
  flex: 1 0 calc(33.3333% - 10px);
  margin-bottom: 10px;
}

.col-7 {
  flex: 1 0 calc(58.3333% - 10px);
  margin-right: 10px;
}

.col-5 {
  flex: 1 0 calc(41.6667% - 10px);
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .flex-item {
    flex: 0 0 calc(100% - 10px);
  }

  .col-8,
  .col-4,
  .col-7,
  .col-5 {
    flex: 1 0 calc(100% - 10px);
    margin-right: 0;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    .h-large {
      height: 150px;
    }
  }

  @media (max-width: 767px) {
    .h-mobile {
      height: 170px;
    }
  }
}