<div>
    <div>

        <!-- First Welcome container with background Image -->
        <div style="background:#E9EBF0 ; height: 12px;"></div>
        <div class="mx-4"
            style="width: -webkit-fill-available; height: 182.7px; margin-top: 12px; border-radius:6px;
            background-image: url('/assets/banner\ background.png'); background-size: cover; background-position: center ;">

            <div class="w-full flex align-items-center justify-content-between">
                <div style="padding-left: 24px; padding-top: 16px;">
                    <div style="color: white; font-size: 48px; font-weight: 600;">Welcome {{name}},</div>
                    <div style="color: white; font-size: 16px; font-weight: 500; margin-top: 12px;">
                        I can’t change the direction of the wind, but I can adjust my sails to always reach my<br>
                        destination.
                    </div>
                </div>

                <img class="mr-2" src="/assets/office guy image.png" width="167px" height="172px" alt="">
            </div>


        </div>

        <!-- celebrating 100 years  -->
        <div class="mt-4 w-full flex align-items-center justify-content-between p-2 banner"
            style="background-color: #F9F785; height: 40px;">
            <div class="flex animation-logo">
                <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
                <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
            </div>

            <div class="flex animation-logo">
                <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
                <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
            </div>

            <div class="flex animation-logo">
                <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
                <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
            </div>

            <div class="flex animation-logo">
                <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
                <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
            </div>

            <div class="flex animation-logo">
                <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
                <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
            </div>


        </div>

        <!-- Animated -->
        <div class="mx-2 " style="display: flex; justify-content: space-between; align-items: start;">
            <div class="col-8">

                <div class="flex align-items-start justify-content-between gap-1">

                    <div class="col-7 ">
                        <div class="flex align-items-start justify-content-start">
                            <div class="w-full mr-2" style="height: 150px; border-radius: 16px; background: white;">
                                <div
                                    style="display: flex; flex-direction: column; justify-content: space-between; align-items: start;">

                                    <div style="color: #92278F; font-weight: 700; font-size: 14px; 
                                      margin-left: 10px; margin-top: 4px;">Our Mission
                                    </div>
                                    <div class="w-full flex align-items-center justify-content-center">
                                        <img src="/assets/na_feb_17 1.png" alt="Image"
                                            style="width: 117.63px; height: 67.91px; margin-top: 1px;">
                                    </div>
                                    <div>
                                        <div
                                            style="margin-left: 10px; margin-right: 5px; margin-top: 2px; color: #92278F; font-weight: 500; font-size: 8px;">
                                            Our mission is to be a technology savvy, customer centric progressive
                                            bank with a national presence, driven by the highest.....
                                        </div>
                                        <div style="margin-top: 2px; color: #FAA026; font-weight: 500; font-size: 8px; margin-right: 14px;"
                                            class="text-right">
                                            Know more
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-full ml-2" style="height: 150px; border-radius: 16px; background: white;">
                                <div
                                    style="display: flex; flex-direction: column; justify-content: start; align-items: start;">
                                    <div>
                                        <div style="color: #92278F; font-weight: 700; font-size: 14px; 
                                      margin-left: 10px; margin-top: 4px;">Our Vision</div>
                                    </div>
                                    <div class="w-full flex align-items-center justify-content-center">
                                        <img src="/assets/g8.png" alt="Image"
                                            style="width: 118px; height: 71px; margin-top: 1px;">
                                    </div>
                                    <div class="text-left " style="margin-left: 8px;">
                                        <div
                                            style="margin-top: 2px; color: #92278F; font-weight: 500; font-size: 8px; margin-left: 10px; margin-right: 5px;">
                                            Our vision is to be a progressive, prosperous and well governed bank.
                                        </div>
                                        <div style="margin-top: 2px; color: #FAA026; font-weight: 500; font-size: 8px; margin-right: 14px;"
                                            class="text-right">
                                            Know more
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pb-2" style="margin-top: 16px; border-radius: 16px; background: white;">
                            <div
                                style="margin-left: 32px; padding-top: 12px; color: #92278F; font-size: 14px; font-weight: 700;">
                                My HR Symphony
                            </div>

                            <div class="gap-1" style="display: flex; justify-content: space-between; align-items: center;
                          margin-top: 12px; margin-left: 16px;margin-right: 16px;">
                                <div class="col-6">
                                    <div style="  border-radius: 4px; background: #F9F78578;">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671.png" alt="Image"
                                                style="width: 40px; height: 40px; ">
                                            <div style="margin-left: 22px; font-size: 16px; font-weight: 600;">
                                                My Leave
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div style=" border-radius: 4px; background: #F9F78578;">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671 (2).png" alt="Image"
                                                style="width: 40px; height: 40px; ">
                                            <div style="margin-left: 22px; font-size: 16px; font-weight: 600;">
                                                My Attendance
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="gap-1" style="display: flex; justify-content: space-between; align-items: center;
                          margin-top: 1px; margin-left: 16px;margin-right: 16px;">
                                <div class="col-6">
                                    <div style=" border-radius: 4px; background: #F9F78578;">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671 (2).png" alt="Image"
                                                style="width: 40px; height: 40px;">
                                            <div style="margin-left: 22px; font-size: 16px; font-weight: 600;">
                                                My Payroll
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div style=" border-radius: 4px; background: #F9F78578;">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671 (3).png" alt="Image"
                                                style="width: 40px; height: 40px;">
                                            <div style="margin-left: 22px; font-size: 16px; font-weight: 600;">
                                                My info
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="col-5">
                        <div class="bg-white border-round-xl py-2 px-3">

                            <div class="font-bold" style="font-size: 16px; color:#92278F;">
                                Reward and Recognition
                                <!-- Congratulation {{name}}! -->
                            </div>

                            <div class="flex align-items-center justify-content-between mt-2">

                                <div class="col-6 flex align-items-center justify-content-center">
                                    <img src="/assets/9486855 1.png" alt="Image" style="width: 126px; height: 122px;">
                                </div>

                                <div class="col-6 flex flex-column align-items-center justify-content-center gap-1">

                                    <div class="flex align-items-center justify-content-between gap-2">
                                        <img src="/assets/business impact award.png" width="60px" alt="">
                                        <img src="/assets/business impact award.png" width="60px" alt="">
                                    </div>
                                    <div class="flex align-items-center justify-content-between gap-2">
                                        <img src="/assets/business impact award.png" width="60px" alt="">
                                        <img src="/assets/business impact award.png" width="60px" alt="">
                                    </div>
                                    <!-- <div class="flex align-items-center justify-content-between gap-2">
                                        <img src="/assets/business impact award.png" width="48px" alt="">
                                        <img src="/assets/business impact award.png" width="48px" alt="">
                                    </div> -->
                                </div>
                            </div>

                            <div class="w-full flex align-items-center justify-content-between mt-2">
                                <div class="flex align-items-center justify-content-start">
                                    <img src="/assets/girls image.png" width="24px" alt="">

                                    <div class="flex align-items-center justify-content-center ml-3 border-round-lg px-2"
                                        style="height: 15px; border: 1px solid #92278F;">
                                        <div class="font-bold" style="font-size: 10px; color: #92278F;">+400</div>
                                        <div class="font-bold mt-1" style="font-size: 5px; color: #92278F;">points</div>
                                    </div>
                                </div>

                                <div class="flex align-items-center justify-content-center border-round-xl px-3"
                                    style="height: 19px; background-color: #92278F;">
                                    <div class="text-white font-bold" style="font-size: 8px;">Redeem all</div>

                                </div>

                            </div>

                            <div class="text-left font-bold mt-2" style="font-size: 10px;">{{name}} received a shout out
                                from
                                Kamal
                            </div>

                            <div class="flex align-items-center justify-content-start mt-2">
                                <div class="text-left font-bold" style="font-size: 10px; color: #FAA026;">@{{name}}
                                </div>

                                <div class="flex align-items-center justify-content-center ml-1 border-round-lg px-1"
                                    style="height: 11px; border: 1px solid #92278F;">
                                    <div class="font-bold" style="font-size: 6px; color: #92278F;">+4</div>
                                </div>

                                <div class="text-left ml-2" style="font-size: 8px;">Thank you for your exception
                                </div>
                            </div>
                            <div class="" style="font-size: 8px;">contribution in KBL Vasool project. </div>

                            <div class="flex align-items-center justify-content-start mt-2">
                                <img src="/assets/heart.png" width="5px" alt="">
                                <div class="text-left ml-1" style="font-size: 6px; color: #848585;">3 likes
                                </div>
                                <div class="text-left ml-4" style="font-size: 6px; color: #848585;">1 Comments
                                </div>
                            </div>

                            <div class="flex align-items-center justify-content-center mt-2">
                                <img src="/assets/Avatar 2.png" width="13px" alt="">
                                <div class="text-left font-semibold ml-2" style="font-size: 8px;"><span
                                        style="color: #92278F;">@{{name}}.</span> Congratulations on accomplishing such
                                    a
                                    great
                                    feat! Your
                                    hard work, dedication, and perseverance have truly paid off.
                                </div>
                            </div>

                            <div class="text-left mt-2" style="font-size: 6px; color: #848585;">Add comment...
                            </div>

                        </div>
                    </div>

                </div>


                <div class="flex align-items-start justify-content-between gap-1">
                    <div class="col-7">
                        <div class="bg-white py-3 px-5" style=" height: 220px; border-radius: 16px;">

                            <div style="color: #92278F;font-size: 14px; font-weight: 700;">
                                Daily Feeds
                            </div>

                            <div class="flex flex-column align-items-start justify-content-between mt-3"
                                style=" background: url(/assets/background\ stars.png); background-size: cover;">

                                <div class="flex align-items-center justify-content-between">
                                    <img src="/assets/1st annivarsary.png" width="56px" height="64px" alt="">

                                    <div class="w-full flex flex-column align-items-center justify-content-center mx-3">
                                        <div class="text-center font-bold" style="font-size: 16px; color: #92278F;">🥳
                                            Happy! 🥳</div>
                                        <div class="text-center font-semibold mt-3"
                                            style="font-size: 10px; color: #92278F;">🤩Happy work
                                            anniversary your dedication and contributes have made a lasting impact on
                                            our
                                            team
                                        </div>
                                    </div>
                                </div>

                                <div class="w-full bg-white flex align-items-center justify-content-between border-round-sm mt-4 px-2"
                                    style=" height: 38px; box-shadow: 2px 2px 2px 2px rgba(173, 173, 173, 0.1);">
                                    <div class="w-full flex align-items-center justify-content-between gap-3">

                                        <div class="w-full flex align-items-center justify-content-center border-round-sm"
                                            style="height: 28px; background: #F9F785BD;">
                                            <div style="font-size: 10px; font-weight: 700; color: #92278F;">
                                                Birthdays
                                            </div>
                                        </div>
                                        <div class="w-full flex align-items-center justify-content-center border-round-sm"
                                            style="height: 28px; background: #F9F785BD;">
                                            <div style="font-size: 10px; font-weight: 700; color: #92278F;">
                                                Work Anniversary
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>





                            <!-- <div style="margin-top: 12px;">
                                <img src="/assets/Frame 3465918.png" alt="Image" style="width: 317px; height: 104px;">
                            </div> -->


                        </div>
                    </div>

                    <div class="col-5">
                        <div class="" class="" style="background: #FFFFFF; border-radius: 16px; height: 220px;">

                            <div class="pt-3 pl-3"
                                style=" display: flex; justify-content: space-between; align-items: center;">
                                <div style="font-size: 12px; color: #92278F; font-weight: 700;">
                                    Our Journey in Snapshot
                                </div>

                                <div class="py-1 px-1" style=" border-radius: 20px; background: #92278F;
                             display: flex; justify-content: center; align-items: center; margin-right: 16px;">
                                    <div style="color: #FFFFFF; font-size: 7px; font-weight: 600; ">
                                        See More
                                    </div>
                                </div>
                            </div>
                            <div class="text-center m-2 mt-3 ">
                                <img class="w-full" src="/assets/Group 1171276733.png" style="height: 150px;"
                                    alt="Image">
                            </div>

                        </div>
                    </div>
                </div>


                <div class="flex align-items-start justify-content-between gap-1">

                    <div class="col-7">
                        <div style="background: #FFFFFF; border-radius: 16px; height: 200px;" class="pt-3 pl-2">
                            <div style="margin-left: 16px; color: #92278F;font-size: 14px; font-weight: 700;">
                                To do list
                            </div>

                            <div style="margin-right: 30px; margin-top: 8px;">

                                <div style=" height: 40px; border: 1px solid #F9F785BF; border-radius: 24px;"
                                    class="px-2">
                                    <div
                                        style=" height: 38px; display: flex; justify-content: space-between; align-items: center;">

                                        <div style="width: 18px; height: 29.62px; color: #92278F; font-size: 12px; font-weight: 700;
                                      margin-left: 12px; padding-top: 1px; padding-bottom: 2px;">19
                                            May</div>

                                        <div class="" style="width: 1px; height: 20px; background-color: #92278F;">
                                        </div>

                                        <div
                                            style="font-size: 10px; font-weight: 700; margin-left: 17px; color: #92278F;">
                                            Complete Customer Onboarding</div>

                                        <div style="width: 40px; height: 18px; border-radius: 16px; background: #F9F785BF ;
                                     display: flex; justify-content: center; align-items: center;">
                                            <div style="color:#92278F; font-size: 8px; font-weight: 600;" class="p-2">
                                                Today
                                            </div>
                                        </div>

                                        <img src="/assets/Group 1186.png" alt="Image"
                                            style="width: 1.52px; height: 6.91px; margin-right: 6px;">
                                    </div>
                                </div>

                                <div style=" height: 40px; border: 1px solid #92278F; background: #F9F785BF; border-radius: 24px; margin-top: 12px;"
                                    class="px-2">
                                    <div
                                        style=" height: 38px; display: flex; justify-content: space-between; align-items: center;">

                                        <div style="width: 18px; height: 29.62px; color: #92278F; font-size: 12px; font-weight: 700;
                                      margin-left: 12px; padding-top: 1px; padding-bottom: 2px;">20
                                            May</div>

                                        <div class="" style="width: 1px; height: 20px; background-color: #92278F;">
                                        </div>

                                        <div
                                            style="font-size: 10px; font-weight: 700; margin-left: 17px; color: #92278F;">
                                            Review Loan Applications</div>

                                        <div style="width: 40px; height: 18px; border-radius: 16px; background: #92278F;
                                     display: flex; justify-content: center; align-items: center;">
                                            <div style="color:#FFFFFF ; font-size: 6px; font-weight: 600;" class="p-2">
                                                Pending
                                            </div>
                                        </div>

                                        <img src="/assets/Group 1186.png" alt="Image"
                                            style="width: 1.52px; height: 6.91px; margin-right: 6px;">
                                    </div>
                                </div>

                                <div class="py-2 mt-2"
                                    style="display: flex; justify-content: center; align-items: center;">
                                    <div style="width: 80px; height: 22px; border-radius: 4px; background: #92278F;
                            display: flex; justify-content: center; align-items: center; margin-top: 8px;">
                                        <div style="font-size: 10px; font-weight: 600; color: #FFFFFF;">Go to
                                            calender
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="col-5">
                        <div class="p-2" style=" background: #FFFFFF; border-radius: 16px;
                display: flex; justify-content: center; align-items: center;height: 200px; ">
                            <img src="/assets/Component 5.png" alt="Image" class="w-full h-full">
                        </div>
                    </div>

                </div>


                <div class="gap-1" style="display: flex; justify-content: space-between; align-items: start;">
                    <div class="col-7">
                        <div style="height: 250px; background: #FFFFFF; border-radius: 16px;" class="pt-4 pl-4">
                            <div style="font-size: 14px; font-weight: 700; color: #92278F;">Learning and Development
                            </div>

                            <div class="flex align-items-center justify-content-start"
                                style="margin-top: 15.8px; margin-bottom: 5px;">
                                <div class="flex flex-column align-items-center justify-content-between border-round-xl"
                                    style="height: 148.12px; background: #F2F2F2;">
                                    <div style="margin: 2px ; padding: 5px;">
                                        <img class="w-full" src="/assets/Rectangle 40487.png" alt="Image"
                                            style=" height: 44.44px;">
                                    </div>
                                    <div style="margin-left: 7px; margin-right: 9px; margin-top: 3px;">
                                        <div style="font-weight: 700; font-size: 10px; color: #92278F;">
                                            Steps for Building an<br> Effective L&D 12 Strategy for<br>
                                            Banking Professionals
                                        </div>
                                    </div>

                                    <div class="w-full flex align-items-center justify-content-between">
                                        <div class="flex align-items-center justify-content-between">
                                            <div style="margin-left: 6px; margin-top: 10px;">
                                                <div class="flex align-items-center justify-content-center px-3"
                                                    style=" height: 22.71px; border-radius: 16px; background: #92278F;">
                                                    <div style="color: #FFFFFF; font-size: 10px; font-weight: 700;">
                                                        Know More
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex align-items-center justify-content-center"
                                            style="width: 30px; height: 30px; border-radius: 50px; background: #2D2D2D; margin-right: 4px; margin-top: 4px;">
                                            <img src="/assets/mi_arrow-up.png" alt="Image"
                                                style="width: 12px; height: 12px;">
                                        </div>
                                    </div>

                                </div>

                                <div
                                    style="width: 154px; margin-left: 20px; height: 148.12px; border-radius: 16px; background: #F2F2F2;">
                                    <div style="margin: 2px ; padding: 5px;">
                                        <img class="w-full" src="/assets/Rectangle 40487.png" alt="Image"
                                            style="height: 44.44px;">
                                    </div>
                                    <div style="margin-left: 7px; margin-right: 9px; margin-top: 3px;">
                                        <div style="font-weight: 700; font-size: 10px; color: #92278F;">
                                            Key L&D Trends to Focus on<br> for Banking Professionals
                                        </div>
                                    </div>

                                    <div class="flex align-items-center justify-content-between my-2">

                                        <div style="margin-left: 6px; margin-top: 10px;">
                                            <div class="flex align-items-center justify-content-center px-3"
                                                style="height: 22.71px; border-radius: 16px; background: #92278F;">
                                                <div style="color: #FFFFFF; font-size: 10px; font-weight: 700;">
                                                    Know More
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            style="width: 30px; height: 30px; border-radius: 50px; background: #2D2D2D;
                             display: flex; justify-content: center; align-items: center; margin-right: 4px; margin-top: 4px;">
                                            <img src="/assets/mi_arrow-up.png" alt="Image"
                                                style="width: 12px; height: 12px;">
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div style="height: 250px; background: #FFFFFF; border-radius: 16px;">
                            <div class="py-3 px-2">
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <img src="/assets/Frame 1618868136.png" style="width: 160px;" alt="">
                                </div>
                                <div class="mt-2 text-center">
                                    <div class="text-center" style="font-size: 10px; font-weight: 400; color: #92278F;">
                                        Experience personalized guidance, expert resources, and transformative practices
                                        designed to rejuvenate your body, mind, and spirit
                                    </div>
                                </div>
                                <div class="mt-2" style="display: flex; justify-content: center; align-items: center;">
                                    <div style=" display: flex; justify-content: center; align-items: center; border-radius: 16px; background: #92278F; width: 100px;"
                                        class="px-2 py-1">
                                        <div style="font-size: 12px; font-weight: 600; color: #FFFFFF;">Check Now</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="bg-white border-round-lg m-3" style=" padding: 23px 23px 29px 29px;">
                    <div class="font-semibold" style="color: #92278F; font-size: 16px;"> Upcoming Holidays</div>

                    <div class="scroll-container">
                        <div *ngFor="let holiday of holidaysData">
                            <div class="flex align-items-center border-round-lg mt-3 px-2"
                                style="height: 44px; background-color: #F2F2F2;">
                                <div class="bg-white" style="height: 28px; border-radius: 4px;">
                                    <div class="flex align-items-center justify-content-center border-round-lg"
                                        style="background-color: #92278F; height: 12px;">
                                        <div class="text-center text-white" style="font-size: 7px;">{{holiday.month}}
                                        </div>
                                    </div>
                                    <div class="text-center font-semibold" style="font-size: 11px;">{{holiday.date}}
                                    </div>
                                </div>
                                <div class="mx-3">
                                    <div class="" style="font-size: 10px;">{{holiday.day}}</div>
                                    <div class="font-semibold" style="font-size: 12px; color: #92278F;">
                                        {{holiday.occasion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="flex align-items-center border-round-lg mt-4 px-2"
                        style="height: 44px; background-color: #F2F2F2;">
                        <div class="bg-white" style="width: 32px; height: 28px; border-radius: 4px;">
                            <div class="flex align-items-center justify-content-center border-round-lg"
                                style="background-color: #92278F; height: 10px;">
                                <div class="text-center text-white" style="font-size: 7px;">Apr</div>
                            </div>
                            <div class="text-center font-semibold" style="font-size: 11px;">10</div>
                        </div>
                        <div class="mx-3">
                            <div class="" style="font-size: 10px;">Wednesday</div>
                            <div class="font-semibold" style="font-size: 15px; color: #92278F;"> Idul Fitr</div>
                        </div>
                    </div>

                    <div class="flex align-items-center border-round-lg mt-4 px-2"
                        style="height: 44px; background-color: #F2F2F2;">
                        <div class="bg-white" style="width: 32px; height: 28px; border-radius: 4px;">
                            <div class="flex align-items-center justify-content-center border-round-lg"
                                style="background-color: #92278F; height: 10px;">
                                <div class="text-center text-white" style="font-size: 7px;">Mar</div>
                            </div>
                            <div class="text-center font-semibold" style="font-size: 11px;">01</div>
                        </div>
                        <div class="mx-3">
                            <div class="" style="font-size: 10px;">Wednesday</div>
                            <div class="font-semibold" style="font-size: 15px; color: #92278F;">May Day</div>
                        </div>
                    </div> -->

                    <div class="flex align-items-center justify-content-center">
                        <div class="flex align-items-center justify-content-center border-round-sm mt-4"
                            style="background-color: #92278F;  height: 30px;">
                            <div class="p-2 text-white" style="font-size: 12px;">Holiday List</div>
                        </div>
                    </div>

                    <div class="font-semibold" style="color: #92278F; margin-top: 30px; font-size: 16px;">Upcoming
                        events</div>

                    <div class="scroll-container2 ">
                        <div *ngFor="let event of upcomingEvents">
                            <div class=" flex align-items-center"
                                style="margin-top: 19px; justify-content: space-between;">
                                <div class="border-circle flex align-items-center justify-content-center"
                                    style="background-color: #e480e0; width: 33px; height: 33px;">
                                    <div style="font-size: 12px; color: black; font-weight: 900;">{{event.firstLetter}}
                                    </div>
                                </div>

                                <div class="flex flex-column justify-content-center ml-2 w-full text-left">
                                    <div style="font-size: 12px; color: black; font-weight: 900;">{{event.title}}
                                    </div>
                                    <div style="font-size: 9px; color: black; opacity: 50%;">{{event.desc}}</div>
                                </div>
                                <img src="/assets/right arrow.png" width="5px" height="11px" alt="">
                            </div>
                            <hr class="mt-3" style="border: none; border-top: 1px solid lightgray;">
                        </div>
                    </div>


                    <img style="margin-top: 19px;" src="/assets/town hall meeting.png" class="w-full h-auto" alt="">

                    <div class="flex align-items-center justify-content-center mt-2">
                        <img src="/assets/bottom arrow.png" width="11px" height="5px" alt="">
                    </div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="font-semibold" style="color: #92278F; margin-top: 30px; font-size: 16px;">
                            Regional News</div>
                        <div class="font-semibold" style="color: #92278F; margin-top: 30px; font-size: 12px;">See
                            all</div>
                    </div>

                    <div style="margin-top: 18px;">
                        <div class="flex align-items-center justify-content-between">
                            <img src="/assets/Avatar.png" width="25px" height="25px" alt="">
                            <div class="ml-2" style="font-size: 12px;">We are thrilled to 🤩 <span class="font-semibold"
                                    style="color: #FAA026;">announce</span> the expansion of
                                our operations
                                into <span class="font-semibold" style="color: #92278F;">new territories 🥳 create
                                    new opportunities 👏
                                    for</span> <span class="font-semibold" style="color: #05B901;">growth.</span>
                            </div>
                        </div>

                        <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">12 Hours ago </div>
                    </div>

                    <div style="margin-top: 18px;">
                        <div class="flex align-items-center justify-content-between">
                            <img src="/assets/Avatar 2.png" width="25px" height="25px" alt="">
                            <div class="ml-2" style="font-size: 12px;">In our commitment 😃 to staying at the
                                forefront of <span class="font-semibold" style="color: #92278F;">innovation</span>,👏 we
                                will be
                                <span class="font-semibold" style="color: #0F26F3;">implementing a technology</span>
                                upgrade.
                            </div>
                        </div>

                        <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">23 Hours ago </div>
                    </div>

                    <div style="margin-top: 18px;">
                        <div class="flex align-items-center justify-content-between">
                            <img src="/assets/Avatar.png" width="25px" height="25px" alt="">
                            <div class="ml-2" style="font-size: 12px;">🤩 I am thrilled to announce that <span
                                    class="font-semibold" style="color: #92278F;">Karnataka bank</span> is 🥳
                                celebrating its remarkable 100th
                                anniversary this year! 🥳 </div>
                        </div>

                        <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">29 Feb, 2024 </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>