.reject-button {
    background-color: red;
    width: 95px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    font-size: 14px;
    color: #FFFFFF;
    cursor: not-allowed; /* To indicate that the button is not clickable */
}

.reject-button:disabled {
    background-color: red;
    color: #FFFFFF;
    border: 1px solid #B0B0B0;
}


.approve-button {
    background-color: green;
    width: 95px;
    height: 31px;
    border-radius: 4px;
    border: 1px solid #B0B0B0;
    font-size: 14px;
    color: #FFFFFF;
    cursor: not-allowed; /* To indicate that the button is not clickable */
}

.approve-button:disabled {
    background-color: green;
    color: #FFFFFF;
    border: 1px solid #B0B0B0;
}

.grey-background {
    background-color: grey !important; /* Use !important to ensure priority over inline styles */
}
