// .navbar {
//     display: flex;

//     justify-content: space-between;
//     align-items: center;
//    // padding: 0 0px 0 0 ; /* Adjust padding as needed */
//     background-color: #333; /* Set your desired background color */
//   }

//   .navbar-left {
//     width:20%;
//   }

//   .navbar-right {
//     width : 80% ;
//     display: flex;
//     justify-content: flex-end;
//   }

.logo {
    max-width: 100%;
    /* Ensure the logo fits within its container */
}

.iconSCSS {
    display: flex;
    align-items: center;
    //   justify-content: end;
}

.container {
    display: flex;
    // justify-content: end;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    // height: 100vh; // Adjust as needed to control the vertical centering
}

::ng-deep {
    .p-breadcrumb {
        border: none !important;
        align-items: center;
    }

    .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
        color: #495057;
        font-family: 'Inter';
        font-size: medium;
    }
}

:host::ng-deep {
    .p-dropdown {
        border-radius: 20px;
        width: 150px !important;
    }

    .p-dropdown-items {
        // background-color: #383A3E;
        border-radius: 10px;
        // color: white;
    }

    // .p-component * {
    //   color: rgb(177, 171, 171);
    // }
}

.plusSCSS {
    border-radius: 50% !important;
}

.icon1 {
    margin-top: 5px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #6F7174;
    background-image: linear-gradient(#6FD6C6, #BEFFF5);
}

.icon2 {
    margin-top: 5px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #6F7174;
    background-color: #383A3E;
}

.fixed-width-dropdown {
    width: 100px !important;
}


.left-panel {
    width: 22%;
    background-color: #f2f2f2;
    transition: width 0.3s ease;

    &.compressed {
        width: 74px;
    }

    .panel-header {
        padding: 10px;

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .panel-body {
        .menu-item {
            padding: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                background-color: #ddd;
            }

            i {
                margin-right: 10px;
            }
        }
    }
}