<div class="w-full flex">
    <div class="col-8">

        <!-- Top boxes -->
        <div class="flex">
            <div class="col-7 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 189px;">
                <div class="font-bold" style="color: #92278F;">My Daily Tasks</div>

                <div class="flex align-items-center">
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm mr-5"
                        style="width: 80px; background-color: #92278F;">
                        <div class="font-semibold text-white my-2 mx-2" style="font-size: 8px;">Under review
                        </div>
                    </div>
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm mr-5"
                        style="width: 80px; border: 1px solid #92278F;">
                        <div class="font-semibold my-2 mx-2" style="font-size: 8px; color: #92278F;">Planned</div>
                    </div>
                    <div class="h-auto flex align-items-center justify-content-center border-round-sm"
                        style="width: 80px; background-color: #F9F785;">
                        <div class="font-semibold my-2 mx-2" style="font-size: 8px; color: #92278F;">Under
                            review</div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <div class="w-full flex align-items-center justify-content-center border-round-md mr-1"
                        style="height: 46px; border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">C</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Sign Customer</div>
                            <div style="font-size: 10px; color: #141515;">Onboarding</div>
                        </div>


                    </div>

                    <div class="w-full flex align-items-center justify-content-center border-round-md mx-1"
                        style="height: 46px; border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">M</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Investors</div>
                            <div style="font-size: 10px; color: #141515;">Meeting</div>
                        </div>

                    </div>
                    <div class="w-full flex align-items-center justify-content-center border-round-md ml-1"
                        style="height: 46px;border: 1px solid #D1D1D1;">
                        <div class="flex align-items-center justify-content-center border-round-sm"
                            style="width: 24px; height: 24px; background-color: #92278F;">
                            <div class="text-xs text-white">S</div>
                        </div>
                        <div class="ml-2">
                            <div style="font-size: 10px; color: #141515;">Stakeholder </div>
                            <div style="font-size: 10px; color: #141515;">Conference</div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-3 m-2"
                style="height: 189px;">

                <div class="flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Our Journey </div>
                    <div class="flex align-items-center justify-content-center border-round-xl h-auto py-1"
                        style="width: 48px; background-color: #92278F;">
                        <div class="text-white font-bold" style="font-size: 8px;">See all</div>
                    </div>
                </div>

                <img class="mt-2 w-full" src="/assets/our journey 2.png" height="137px" alt="">

            </div>
        </div>

        <div class="flex">
            <div class="col-7 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 322px;">
                <div class="flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Revenue Overview</div>
                    <div class="text-gray-500 font-bold" style="font-size: 12px;">Apr 30 - May 30</div>
                </div>

                <div>
                    <img class="ml-5" src="/assets/revenue overview graph.png" width="239px" height="109px" alt="">
                    <div class="flex align-items-center justify-content-between mx-5 mt-3">
                        <div class="flex align-items-center justify-content-center">
                            <div class="border-circle" style="width: 10px; height: 10px; background-color: #92278F;">
                            </div>
                            <div class="text-gray-500 ml-2" style="font-size: 12px;">Bangalore</div>
                        </div>
                        <div class="flex align-items-center justify-content-center">
                            <div class="border-circle" style="width: 10px; height: 10px; background-color: #FAA026;">
                            </div>
                            <div class="text-gray-500 ml-2" style="font-size: 12px;">Hyderabad</div>
                        </div>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Details" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>
            </div>

            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 322px;">
                <div class="font-bold" style="color: #92278F;"> Assets and Liabilities</div>

                <div class="flex flex-column align-items-center justify-content-center">
                    <div class="text-gray-500 font-bold text-center mb-2" style="font-size: 12px;">Apr 30 - May 30</div>
                    <img src="/assets/assets and liabilities.png" width="196px" height="97px" alt="">
                    <div class="text-gray-500 font-bold text-center mt-2" style="font-size: 10px;">Liabilities</div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Details" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>
            </div>
        </div>

        <div class="flex">

            <div class="col-7 m-2 p-0">
                <div class="bg-white flex flex-column justify-content-start border-round-xl p-3" style="height: 233px;">
                    <div class="font-bold" style="color: #92278F;">Karnataka Bank Share</div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center">
                            <div class="font-semibold">₹261.00</div>

                            <div class="flex align-items-center justify-content-center border-round-sm ml-8"
                                style="width: 36px; height: 15px; background-color: #FBE2E1;">
                                <i class="pi pi-arrow-down" style="font-size: 5px; color: #C13E30;"></i>
                                <div class="font-semibold ml-1" style="font-size: 10px; color: #C13E30;">8.33</div>
                            </div>

                            <div class="font-semibold ml-2" style="font-size: 8px; color: #C13E30;">-134.89 1Y</div>
                        </div>

                        <div class="w-auto flex align-items-center justify-content-center border-round-md ml-8 px-2"
                            style="height: 15px; background-color: #F9F785;">
                            <!-- <i class="pi pi-arrow-down" style="font-size: 5px; color: #92278F;"></i> -->
                            <img class="" src="/assets/key event.png" width="11px" height="6px" alt="">
                            <div class="font-semibold ml-1" style="font-size: 6px; color: #92278F;">Key events</div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="font-normal" style="font-size: 6px; color: #606060;">Dec 12, 8:34:24 PM UTC+5:30
                        </div>
                        <div class="font-normal ml-3" style="font-size: 6px; color: #606060;">INR . NSE . Disclaimer
                        </div>
                    </div>

                    <img class="mt-3" src="/assets/kb share graph.png" width="390px" height="134px" alt="">

                </div>

                <div class="col-7 bg-white flex align-items-center justify-content-between border-round-top-lg ml-2 mt-2 px-2"
                    style="height: 25px; border-top: 1px solid #92278F; border-left: 1px solid #92278F; border-right: 1px solid #92278F;">
                    <div class="font-bold " style="font-size: 10px;">Banks Dep-Adv Status for </div>

                    <div class="flex align-items-center justify-content-center">
                        <div class="font-semibold mr-3" style="font-size: 8px; color: #92278F;">29-02-24
                        </div>
                        <img src="/assets/edit icon.png" width="8px" height="8px" alt="">
                    </div>
                </div>
                <div class="bg-white flex flex-column justify-content-between border-round-xl p-3"
                    style="height: 148px;">
                    <img class="w-full h-full" src="/assets//bank dev aps image.png" alt="">
                </div>
            </div>


            <div class="col-5 bg-white flex flex-column justify-content-between border-round-xl p-4 m-2"
                style="height: 403px;">
                <div class="font-bold" style="color: #92278F;">Our KBL Performance</div>

                <div class="flex align-items-center justify-content-between">
                    <div class="w-full flex align-items-center justify-content-between border-round-md mr-2 px-2"
                        style="height: 36px; background-color: #F9F785; border: 1px solid #e7e551;">
                        <div class="font-semibold " style="font-size: 12px; color: #92278F;">Select Region</div>
                        <i class="pi pi-angle-down mt-1" style="font-size: 16px; color: #92278F;"></i>
                    </div>
                    <div class="w-full flex align-items-center justify-content-between border-round-md ml-2 px-2"
                        style="height: 36px; background-color: #F9F785; border: 1px solid #e7e551;">
                        <div class="font-semibold " style="font-size: 12px; color: #92278F;">All categories</div>
                        <i class="pi pi-angle-down mt-1" style="font-size: 16px; color: #92278F;"></i>
                    </div>
                </div>

                <div class="font-bold ml-3" style="color: #92278F;">South Region Performance</div>

                <div class="font-normal text-right" style="font-size: 8px; color: #92278F;">Dec30- Feb30</div>

                <div class="flex align-items-center justify-content-between">
                    <div class="w-full mr-1">
                        <div class="text-center" style="font-size: 44px; font-weight: 800; color: #92278F;">30%</div>
                        <div class="font-semibold text-center" style="font-size: 8px;  color: #92278F;">Our branch
                            work performance is
                            30% better compare to
                            last month</div>
                    </div>
                    <div class="w-full ml-1">
                        <img class="w-full" src="/assets/south region perfomance graph.png" alt="">
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Know More" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>


            </div>
        </div>
    </div>

    <div class="col-4" style="padding: 10px 10px 20px 20px !important;">
        <div class="flex flex-column h-full bg-white border-round-xl m-2 p-4">

            <div class="font-bold" style="color: #92278F;">Upcoming events</div>

            <div class="scroll-container2 ">
                <div *ngFor="let event of upcomingEvents">
                    <div class=" flex align-items-center" style="margin-top: 19px; justify-content: space-between;">
                        <div class="border-circle flex align-items-center justify-content-center"
                            style="background-color: #e480e0; width: 33px; height: 33px;">
                            <div style="font-size: 12px; color: black; font-weight: 900;">{{event.firstLetter}}</div>
                        </div>

                        <div class="flex flex-column justify-content-center ml-2 w-full text-left">
                            <div style="font-size: 12px; color: black; font-weight: 900;">{{event.title}}
                            </div>
                            <div style="font-size: 9px; color: black; opacity: 50%;">{{event.desc}}</div>
                        </div>
                        <img src="/assets/right arrow.png" width="5px" height="11px" alt="">
                    </div>
                    <hr class="mt-3" style="border: none; border-top: 1px solid lightgray;">
                </div>
            </div>

            <div style="margin-top: 19px;" *ngFor="let image of townhallImages; let i = index" class="image-container"
                [style.display]="isVisible(i) ? 'block' : 'none'">
                <img [src]="image.src" [alt]="image.alt" class="w-full h-auto">
            </div>

            <div class="flex align-items-center justify-content-center mt-2">
                <img src="/assets/bottom arrow.png" width="11px" height="5px" alt="">
            </div>

            <div class="font-bold mt-3" style="color: #92278F;">Calender</div>
            <img class="w-full h-auto" src="/assets/Calendar 1.png" alt="">

            <div class="font-bold mt-3">To do list</div>

            <div class="">
                <div class="flex align-items-center justify-content-between border-round-md px-2 py-1 mt-2"
                    style="background-color: #F9F785;">

                    <div class="flex align-items-center justify-content-start">
                        <div class="flex flex-column align-items-center justify-content-center">
                            <div class="font-bold" style="font-size: 9px; color: #92278F;">19</div>
                            <div class="font-normal" style="font-size: 9px; color: #92278F;">May</div>

                        </div>

                        <div class="ml-2" style="width: 1px; height: 20px; background-color: #92278F;"></div>

                        <div class="font-bold ml-2" style="font-size: 8px; color: #92278F;">Complete Customer Onboarding
                        </div>
                    </div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center justify-content-center bg-white border-round-md w-auto px-2"
                            style="height: 12px;">
                            <div class="font-normal" style="font-size: 6px; color: #92278F;">Today</div>
                        </div>

                        <i class="pi pi-ellipsis-v ml-2" style="font-size: 7px; color: #92278F;"></i>
                    </div>
                </div>

                <hr class="mt-3 mx-3" style="border: none; border-top: 1px solid lightgray;">

                <div class="flex align-items-center justify-content-between border-round-md px-2 py-1">

                    <div class="flex align-items-center justify-content-start">
                        <div class="flex flex-column align-items-center justify-content-center">
                            <div class="font-bold" style="font-size: 9px; color: #92278F;">20</div>
                            <div class="font-normal" style="font-size: 9px; color: #92278F;">May</div>

                        </div>

                        <div class="ml-2" style="width: 1px; height: 20px; background-color: #92278F;"></div>

                        <div class="font-bold ml-2" style="font-size: 8px; color: #92278F;"> Review Loan Applications
                        </div>
                    </div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center justify-content-center border-round-md w-auto px-2"
                            style="height: 12px; background-color: #F9F785;">
                            <div class="font-normal" style="font-size: 6px; color: #92278F;">Pending</div>
                        </div>

                        <i class="pi pi-ellipsis-v ml-2" style="font-size: 7px; color: #92278F;"></i>
                    </div>
                </div>

                <hr class="mt-3 mx-3" style="border: none; border-top: 1px solid lightgray;">

                <div class="flex align-items-center justify-content-between border-round-md px-2 py-1">
                    <div class="flex align-items-center justify-content-start">
                        <div class="flex flex-column align-items-center justify-content-center">
                            <div class="font-bold" style="font-size: 9px; color: #92278F;">21</div>
                            <div class="font-normal" style="font-size: 9px; color: #92278F;">May</div>
                        </div>

                        <div class="ml-2" style="width: 1px; height: 20px; background-color: #92278F;"></div>

                        <div class="font-bold ml-2" style="font-size: 8px; color: #92278F;"> Attend Team Meeting
                        </div>
                    </div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center justify-content-center border-round-md w-auto px-2"
                            style="height: 12px; background-color: #92278F;">
                            <div class="font-normal" style="font-size: 6px; color: #ffffff;">Upcoming</div>
                        </div>

                        <i class="pi pi-ellipsis-v ml-2" style="font-size: 7px; color: #92278F;"></i>
                    </div>
                </div>

                <hr class="mt-3 mx-3" style="border: none; border-top: 1px solid lightgray;">

                <div class="flex align-items-center justify-content-between border-round-md px-2 py-1">
                    <div class="flex align-items-center justify-content-start">
                        <div class="flex flex-column align-items-center justify-content-center">
                            <div class="font-bold" style="font-size: 9px; color: #92278F;">22</div>
                            <div class="font-normal" style="font-size: 9px; color: #92278F;">May</div>
                        </div>

                        <div class="ml-2" style="width: 1px; height: 20px; background-color: #92278F;"></div>

                        <div class="font-bold ml-2" style="font-size: 8px; color: #92278F;"> Stakeholder Conference
                        </div>
                    </div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center justify-content-center border-round-md w-auto px-2"
                            style="height: 12px; background-color: #92278F;">
                            <div class="font-normal" style="font-size: 6px; color: #ffffff;">Upcoming</div>
                        </div>

                        <i class="pi pi-ellipsis-v ml-2" style="font-size: 7px; color: #92278F;"></i>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>