<div class="w-full">

    <!-- First Top Sections -->
    <div class="flex">
        <section class="col-9 pl-0 mt-4">
            <div class="bg-white flex align-items-center justify-content-between border-round-right-xl px-3"
                style="height: 80px;">
                <div class="col-5" style="font-size: 28px;">Welcome, <span class="font-bold"
                        style="color: #92278F;">{{this.name}} 🤩 </span>
                </div>

                <div class="w-full flex align-items-center justify-content-end px-4">
                    <div class="flex align-items-center justify-content-center border-round-3xl px-4 gap-3"
                        style="height: 42px; background-color: #92278F;">
                        <div class="text-white font-medium" style="font-size: 16px;">Show My Tasks</div>
                        <div class="bg-white border-circle px-2 py-1">
                            <i class="pi pi-arrow-up-right" style="font-size: 14px; color: #92278F;"></i>
                        </div>
                    </div>

                    <div class="ml-3" style="width: 1px; height: 40px; background-color: #000000; opacity: 10%;"></div>

                    <div class="font-medium ml-3" style="font-size: 16px;">20</div>

                    <div class="ml-3">
                        <div class="font-medium" style="font-size: 16px;">Fri,</div>
                        <div class="font-medium" style="font-size: 16px;">February</div>
                    </div>

                    <img class="ml-5" src="/assets/simple-line-icons_calender.png" width="24" height="24"
                        style="color: #92278F;" alt="">

                </div>

            </div>

            <div class="w-full flex align-items-center justify-content-between mt-3 px-3">
                <div class="w-full first-arrow-bg flex flex-column align-items-center justify-content-center">
                    <div class="font-bold mr-3" style="font-size: 24px; color: #92278F;">458</div>
                    <div class="font-bold mt-2 mr-3" style="font-size: 14px;">Account Opened</div>
                </div>

                <div class="w-full forward-arrow-bg flex flex-column align-items-center justify-content-center">
                    <div class="font-bold" style="font-size: 24px; color: #92278F;">256</div>
                    <div class="font-bold mt-2 " style="font-size: 14px;">Clients</div>
                </div>

                <div class="w-full forward-arrow-bg flex flex-column align-items-center justify-content-center">
                    <div class="font-bold" style="font-size: 24px; color: #92278F;">98</div>
                    <div class="font-bold mt-2" style="font-size: 14px;">Loans Approved</div>
                </div>

                <div class="w-full forward-arrow-bg flex flex-column align-items-center justify-content-center">
                    <div class="font-bold" style="font-size: 24px; color: #92278F;">50Lakh</div>
                    <div class="font-bold mt-2" style="font-size: 14px;">Amount
                        Deposited</div>
                </div>
            </div>
        </section>

        <section class="col-3">
            <div class="bg-white flex flex-column justify-content-between border-round-xl p-3 mt-4"
                style="height: 196px;">
                <div class="flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Our Journey </div>
                    <div class="flex align-items-center justify-content-center border-round-xl h-auto py-1"
                        style="width: 48px; background-color: #92278F;">
                        <div class="text-white font-bold" style="font-size: 8px;">See all</div>
                    </div>
                </div>

                <img class="mt-2 w-full" src="/assets/our journey 2.png" height="137px" alt="">
            </div>
        </section>
    </div>

    <!-- Celebrating 100 Yars  -->
    <div class="mt-4 w-full flex align-items-center justify-content-between p-2 banner"
        style="background-color: #F9F785; height: 40px;">
        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>

        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>

        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>

        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>

        <div class="flex animation-logo">
            <img src="/assets/logo Image.png" width="24px" height="24px" alt="">
            <div class="font-semibold ml-2" style="color: #92278F;">Celebrating 100 Years</div>
        </div>


    </div>

    <div class="flex">
        <section class="col-9 flex">

            <div class="col-5">
                <div class="bg-white align-items-center justify-content-between border-round-xl p-2"
                    style="height: 193px;">
                    <div class="font-bold" style="color: #92278F;">Karnataka Bank Share</div>

                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center">
                            <div class="font-semibold">₹ {{this.bankShare}}</div>

                            <div class="flex align-items-center justify-content-center border-round-sm ml-4"
                                style="width: 36px; height: 15px; background-color: #FBE2E1;">
                                <i class="pi pi-arrow-down" style="font-size: 5px; color: #C13E30;"></i>
                                <div class="font-semibold ml-1" style="font-size: 10px; color: #C13E30;">8.33</div>
                            </div>

                            <div class="font-semibold ml-2" style="font-size: 8px; color: #C13E30;">-134.89 1Y</div>
                        </div>

                        <div class="w-auto flex align-items-center justify-content-center border-round-md px-2"
                            style="height: 15px; background-color: #F9F785;">
                            <!-- <i class="pi pi-arrow-down" style="font-size: 5px; color: #92278F;"></i> -->
                            <img class="" src="/assets/key event.png" width="11px" height="6px" alt="">
                            <div class="font-semibold ml-1" style="font-size: 6px; color: #92278F;">Key events</div>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="font-normal" style="font-size: 6px; color: #606060;">Dec 12, 8:34:24 PM UTC+5:30
                        </div>
                        <div class="font-normal ml-3" style="font-size: 6px; color: #606060;">INR . NSE . Disclaimer
                        </div>
                    </div>

                    <img class="w-full mt-3" src="/assets/kb share graph.png" height="100px" alt="">
                </div>

            </div>

            <div class="col-7">
                <div class="bg-white  border-round-xl px-3" style="height: 193px;">
                    <div
                        style="margin-left: 32px; padding-top: 12px; color: #92278F; font-size: 14px; font-weight: 700;">
                        My HR Symphony
                    </div>

                    <div class="gap-1" style="display: flex; justify-content: start; align-items: center;
                          margin-top: 6px; margin-left: 8px;margin-right: 8px;">
                        <div class="col-6">
                            <!-- <div style="  border-radius: 4px; background: #F9F78578;" class="p-2">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671.png" alt="Image"
                                                style="width: 40px; height: 40px; ">
                                            <div style="margin-left: 12px; font-size: 13px; font-weight: 600;">
                                                My Leave
                                            </div>
                                        </div>
                                    </div> -->
                            <div class="animated-container" (mouseenter)="expandCard()" (mouseleave)="shrinkCard()">
                                <div class="content">
                                    <div class="icon-container">
                                        <img src="/assets/Group 1171276671.png" alt="Image"
                                            style="width: 30px; height: 30px;">
                                    </div>
                                    <div class="text-container">
                                        My Payroll
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <!-- <div style=" border-radius: 4px; background: #F9F78578;" class="p-2">
                                        <div style="display: flex; justify-content: start;align-items: center;">
                                            <img src="/assets/Group 1171276671 (2).png" alt="Image"
                                                style="width: 40px; height: 40px; ">
                                            <div style="margin-left: 12px; font-size: 13px; font-weight: 600;">
                                                My Attendance
                                            </div>
                                        </div>
                                    </div> -->
                            <div class="animated-container" (mouseenter)="expandCard()" (mouseleave)="shrinkCard()">
                                <div class="content">
                                    <div class="icon-container">
                                        <img src="/assets/Group 1171276671 (2).png" alt="Image"
                                            style="width: 30px; height: 30px; ">
                                    </div>
                                    <div class="text-container">
                                        My Attendance
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gap-1" style="display: flex; justify-content: start; align-items: center;
                          margin-top: 1px; margin-left: 8px;margin-right: 8px;">
                        <div class="col-6">

                            <div class="animated-container" (mouseenter)="expandCard()" (mouseleave)="shrinkCard()">
                                <div class="content">
                                    <div class="icon-container">
                                        <img src="/assets/Group 1171276671 (2).png" alt="Image"
                                            style="width: 30px; height: 30px;">
                                    </div>
                                    <div class="text-container">
                                        My Leave
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="animated-container" (mouseenter)="expandCard()" (mouseleave)="shrinkCard()">
                                <div class="content">
                                    <div class="icon-container">
                                        <img src="/assets/Group 1171276671 (3).png" alt="Image"
                                            style="width: 30px; height: 30px;">
                                    </div>
                                    <div class="text-container">
                                        My Info
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="col-3">
            <div class="bg-white flex flex-column justify-content-between border-round-xl p-3 mt-2"
                style="height: 193px;">

                <div class="w-full flex align-items-center justify-content-between">
                    <div class="font-bold" style="color: #92278F;">Annual Report</div>

                    <div class="flex align-items-center justify-content-center border-round-xl px-2 py-1"
                        style="border: 1px solid #92278F;">
                        <div class="font-bold" style="font-size:8px; color: #92278F;">2023-2024</div>
                        <i class="pi pi-angle-right ml-1" style="font-size: 12px; color: #92278F;"></i>
                    </div>
                </div>

                <div class="w-full flex align-items-center justify-content-center">
                    <img src="/assets/annual report.png" alt="" width="" height="120px">
                </div>

            </div>
        </section>
    </div>

    <div class="flex pl-3 pr-2 gap-3">

        <section class="w-full">
            <div class="bg-white flex flex-column justify-content-between border-round-xl p-3 my-2"
                style="height: 403px;">

                <div class="font-bold" style="color: #92278F;">Our KBL Performance</div>

                <div class="flex align-items-center justify-content-between">
                    <div class="w-full flex align-items-center justify-content-between border-round-md mr-2 px-2"
                        style="height: 36px; background-color: #F9F785; border: 1px solid #e7e551;">
                        <!-- <div class="font-semibold " style="font-size: 12px; color: #92278F;">Select Region</div>
                        <i class="pi pi-angle-down mt-1" style="font-size: 16px; color: #92278F;"></i> -->
                        <p-dropdown formControlName="selectedCity" [options]="regions" optionLabel="name"
                            optionValue="name" placeholder="South"
                            (onChange)="findRegionalPerformance( $event.value)"></p-dropdown>
                    </div>
                    <div class="w-full flex align-items-center justify-content-between border-round-md ml-2 px-2"
                        style="height: 36px; background-color: #F9F785; border: 1px solid #e7e551;">
                        <div class="font-semibold " style="font-size: 12px; color: #92278F;">All categories</div>
                        <i class="pi pi-angle-down mt-1" style="font-size: 16px; color: #92278F;"></i>
                    </div>
                </div>

                <div class="font-bold ml-3" style="color: #92278F;">{{this.currRegion}} Region Performance</div>

                <div class="font-normal text-right" style="font-size: 8px; color: #92278F;">Dec30- Feb30</div>

                <div class="flex align-items-center justify-content-between">
                    <div class="w-full mr-1">
                        <div class="text-center" style="font-size: 44px; font-weight: 800; color: #92278F;">
                            {{this.currPerformance}}%</div>
                        <div class="font-semibold text-center" style="font-size: 8px;  color: #92278F;">Our branch
                            work performance is
                            {{this.currPerformance}}% better compare to
                            last month</div>
                    </div>
                    <div class="w-full ml-1">
                        <img class="w-full" src="/assets/south region perfomance graph.png" alt="">
                    </div>
                </div>

                <div class="flex align-items-center justify-content-center">
                    <button pButton pRipple label="Know More" class="p-button-help border-round-sm"
                        style="width: 209px; border: none; background-color: #92278F; height: 45px;"></button>
                </div>

            </div>
        </section>

        <section class="w-full">
            <div class="bg-white border-round-xl p-3 my-2" style="height: 403px;">

                <div class="font-bold" style="color: #92278F;"></div>
                Our KBL Performance
                <div class="w-full align-items-center justify-content-center mt-4">
                    <div class="p-input-icon-left w-full">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search in Activities " class="w-full"
                            style="height: 30px; border: 1px solid #E7E7E7; border-radius: 10px; " />
                    </div>
                </div>

                <div class="flex align-items-center justify-content-between mt-3">

                    <div class="flex align-items-center border-round-md px-2 py-1" style="background-color: #92278F;">
                        <div class="text-white" style="font-size: 10px;">Analysis</div>
                        <i class="text-white pi pi-times ml-2" style="font-size: 10px;"></i>
                    </div>

                    <div class="flex align-items-center border-round-md px-2 py-1" style="background-color: #92278F;">
                        <div class="text-white" style="font-size: 10px;">Insights</div>
                        <i class="text-white pi pi-times ml-2" style="font-size: 10px;"></i>
                    </div>

                    <div class="flex align-items-center border-round-md px-2 py-1" style="background-color: #92278F;">
                        <div class="text-white" style="font-size: 10px;">Market Trends</div>
                        <i class="text-white pi pi-times ml-2" style="font-size: 10px;"></i>
                    </div>

                </div>

                <div class="w-full flex align-items-center justify-content-between border-round-md mt-3 px-5">
                    <div class="" style="font-size: 16px;">Business Plan</div>
                    <i class=" pi pi-ellipsis-v" style="font-size: 16px;"></i>
                </div>

                <div class="flex align-items-center justify-content-between m-5 px-3">
                    <div class="w-full flex flex-column align-items-center justify-content-between">
                        <img src=" /assets/business plan.png" width="40" alt="">
                    </div>

                    <div class="w-full flex flex-column align-items-center justify-content-between">

                        <div class="flex align-items-center justify-content-start border-round-3xl "
                            style="width: 141px; height: 34px; border: 1px solid #92278F;">
                            <div class="ml-4" style="font-size: 10px;">Bank Loans</div>
                        </div>

                        <div class="flex align-items-center justify-content-start border-round-3xl mt-4"
                            style="width: 141px; height: 34px; ">
                            <div class="ml-4" style="font-size: 10px;">Accounting</div>
                        </div>

                        <div class="flex align-items-center justify-content-start border-round-3xl mt-4"
                            style="width: 141px; height: 34px; ">
                            <div class="ml-4" style="font-size: 10px;">Business Goals</div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section class="w-full">
            <div class="bg-white flex flex-column justify-content-between border-round-xl p-3 my-2"
                style="height: 403px;">

                <div class="flex align-items-center justify-content-between">
                    <div class="font-semibold" style="color: #92278F; font-size: 16px;">
                        Regional News</div>
                    <div class="font-semibold" style="color: #92278F; font-size: 12px;">See
                        all</div>
                </div>

                <div class="scroll-container">
                    <div *ngFor="let news of allNews">
                        <div style="margin-top: 18px;">
                            <div class="flex align-items-center justify-content-start">
                                <img src="/assets/Avatar.png" width="25px" height="25px" alt="">
                                <div class="ml-3" style="font-size: 12px;">{{news}}
                                </div>
                            </div>

                            <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">12 Hours ago </div>
                        </div>
                    </div>
                </div>

                <!-- <div style="margin-top: 18px;">
                    <div class="flex align-items-center justify-content-between">
                        <img src="/assets/Avatar 2.png" width="25px" height="25px" alt="">
                        <div class="ml-2" style="font-size: 12px;">In our commitment 😃 to staying at the
                            forefront of <span class="font-semibold" style="color: #92278F;">innovation</span>,👏 we
                            will be
                            <span class="font-semibold" style="color: #0F26F3;">implementing a technology</span>
                            upgrade.
                        </div>
                    </div>

                    <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">23 Hours ago </div>
                </div>

                <div style="margin-top: 18px;">
                    <div class="flex align-items-center justify-content-between">
                        <img src="/assets/Avatar.png" width="25px" height="25px" alt="">
                        <div class="ml-2" style="font-size: 12px;">🤩 I am thrilled to announce that <span
                                class="font-semibold" style="color: #92278F;">Karnataka bank</span> is 🥳
                            celebrating its remarkable 100th
                            anniversary this year! 🥳 </div>
                    </div>

                    <div class="text-right mt-1" style="font-size: 8px; color: #B687C6;">29 Feb, 2024 </div>
                </div> -->

            </div>
        </section>
    </div>
</div>