<div class="w-full p-4">
    <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">Quick Links</div>

    <div class="flex flex-wrap">
        <!-- A -->
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">A</div>
            <div class="flex flex-wrap justify-between">
                <!-- Links starting with A -->
                <!-- Replace 'your_link_A' with actual link and 'Your Image' with actual image source -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('al_br')">
                    <img src="/assets/AL_BR.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <!-- Add more links here starting with A -->
                <!-- Example link -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="hyperlinkHelpdesk()">
                    <img src="/assets/helpdesk-icon.png" alt="Image" style="width: 90px;">
                </div>
                <!-- Add more links here starting with A -->
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">B</div>
            <div class="flex flex-wrap justify-between">
                <!-- Links starting with A -->
                <!-- Replace 'your_link_A' with actual link and 'Your Image' with actual image source -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('branch_exec_directories')">
                    <img src="/assets/br_exec_directories.png" alt="Image" style="width: 90px;">
                </div>
               
            </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">C</div>
            <div class="flex flex-wrap justify-between">
               
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('customer_info')">
                    <img src="/assets/customer_info.png" alt="Image" style="width: 90px;">
                </div> 
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('cms')">
                    <img src="/assets/cms.png" alt="Image" style="width: 90px;">
                </div> 
            </div>
        </div>
       
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">I</div>
            <div class="flex flex-wrap justify-between">
                <!-- Links starting with A -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('i-cir')">
                    <img src="/assets/i-circular.png" alt="Image" style="width: 90px;">
                </div>
                <!-- Replace 'your_link_A' with actual link and 'Your Image' with actual image source -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('i-cir-1day')">
                    <img src="/assets/i-circular-1day.png" alt="Image" style="width: 90px;">
                </div>
                <!-- Add more links here starting with A -->
                <!-- Example link -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('i-cir-1week')">
                    <img src="/assets/i-circular-1week.png" alt="Image" style="width: 90px;">
                </div>
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('i-cir-1month')">
                    <img src="/assets/i-circular-1month.png" alt="Image" style="width: 90px;">
                </div>
                <!-- Add more links here starting with A -->
            </div>
        </div>


       
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">P</div>
            <div class="flex flex-wrap justify-between">
                <!-- Links starting with A -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('policy_doc')">
                    <img src="/assets/policy_document.png" alt="Image" style="width: 90px;">
                </div> 
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('pos')">
                    <img src="/assets/pos.png" alt="Image" style="width: 90px;">
                </div> 
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('pre-approved-creditcard')">
                    <img src="/assets/pre-creditcard.png" alt="Image" style="width: 90px;">
                </div> 
            </div>
        </div>

        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
            <div class="ml-2" style="color: #92278F; font-weight: 700; font-size: 20px;">R</div>
            <div class="flex flex-wrap justify-between">
                <!-- Links starting with A -->
                <div class="w-1/2 md:w-auto p-2 flex items-center justify-center cursor-pointer"  (click)="openHyperLinks('returns')">
                    <img src="/assets/return_cons.png" alt="Image" style="width: 90px;">
                </div> 
                
            </div>
        </div>
        <!-- Add more columns for other letters -->
        <!-- B, C, D, etc. -->
    </div>
</div>
